body{
    font-family: Arial, Helvetica, sans-serif;
    height: 900px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review{
    width: 40%;
    background-color: white;
    padding:2rem;
    border-radius: 2%;
}

@media (max-width: 600px) {
    .review {
      width:70%;
    }
  }
.review-header {
    display: flex;
}
.review-header-average{
    text-align: center;
}
.stars-bar{
    align-items: center;
    display:flex;
}
.stars-bar > img{
    width:1.5rem;
    height: 1.5rem;
}
.progress-bar{
    border-radius: 2rem;
    margin-left: 0.2rem;
    margin-right: 0.5rem;
    background-color: #ccc;
    width:80%;
    height: 10px;
}

.inside-progress-bar{
    border-radius: 2rem;
    height:10px;
    background-color:green;
}
.review-myself-stars{
    display: flex;
    justify-content: center;
}
.review-myself-stars > img{
    width: 15%;
    max-width: 50px;
}
.review-myself-main > button{
    border-radius: 2rem;
    margin-top: 1rem;
    width: 100%;
    background-color: #252654;
    border:none;
    padding: 0.4rem;
    color: #F0F0F0;
}
